
// @see: https://github.com/odb/official-bash-logo/blob/master/assets/bash-style-guide.pdf

// -- <code>
$code-background: #2F3A43;
$code-font: 'Roboto Mono', monospace;

// -- Texts
$text-font: 'Roboto', sans-serif;
$regular-text:#2F3A43;
$regular-background: #FFFFFF;
$text-white: #FFF;

// -- Featured
$featured-text: #48B44F;
$featured-background: #33AB9D;


/// @TODO: To unify criteria
$title-color: #2F3A43;
$link-color: #33AB9D;
$link-color-hover: #48B44F;


@import 'include/reset';

body {
  font-family: $text-font;
  -webkit-font-smoothing: antialiased;  
  color: $regular-text;
  width: 100%;
  margin-top: 75px;
}

header {
  background-color: $featured-background;
  position: fixed;
  width:100%;
  padding:10px;
  top:0;
  left:0;
}

.header{
  display:flex;
  align-items:center;
}
.header__img{
  min-width:35px;
  width: 12vw;
}
.header__text{
  margin-left:15px;
  color: $text-white;
  font-family:$code-font;
}

.main-nav {
  display:none;
}

.main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  line-height: 1.8;
  overflow-x:none;
  
  h1, h2, h3, h4 {
    color: $title-color;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2.2rem;
    font-weight:700;
  }
  
  h2{
    font-size: 2rem;
    font-weight:600;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h4 {
    font-size: 1.7rem;
  }
  
  a {
    color: $link-color;
    text-decoration: none;
  }

  a:hover {
    color: $link-color-hover;
  }
  
  
  
  pre, code {
    overflow-x:scroll;
    line-height:1.8;
    padding:0 5px;
    font-family:$code-font;
  }
  
  code {
    background-color:#E6EEF2;
  }
  pre {
    margin: 8px 0;
    border-radius:4px;
    padding: 5px 10px;
    background-color:$code-background;
    color:#FFF; //@TODO: TO BE REFACTOR
  }
  
    dt {
      margin-top:15px;
      font-weight:700;
    }
    dd {
      padding:0 15px 0 30px;
      font-style:italic;
    }
}
