/** --- Documentation
* @see: https://github.com/odb/official-bash-logo/blob/master/assets/bash-style-guide.pdf
*/


/* --- Imports --- */
@import 'include/reset';


/* --- Variables --- */
$code-font: 'Roboto Mono', monospace;
$text-font: 'Roboto', sans-serif;
$code-background-color: #E6EEF2;
$color-dark: #2F3A43;
$color-white: #FFF;
$color-featured: #33AB9D;

body {
  font-family: $text-font;
  -webkit-font-smoothing: antialiased;  
  color: $color-dark;
  width: 100%;
  margin-top: 75px;
}

header {
  background-color: $color-featured;
  position: fixed;
  width:100%;
  padding:10px;
  top:0;
  left:0;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}

.header{
  display:flex;
  align-items:center;
}
.header__img{
  min-width:35px;
  width: 12vw;
}
.header__text{
  margin-left:15px;
  color: $color-white;
  font-family:$code-font;
}

.main-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  line-height: 1.8;
  overflow-x:none;
  
  h1, h2, h3, h4 {
    color: $color-dark;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2.2rem;
    font-weight:700;
  }
  
  h2{
    font-size: 2rem;
    font-weight:600;
  }
  
  h3 {
    font-size: 1.8rem;
  }
  
  h4 {
    font-size: 1.7rem;
  }
  
  a {
    color: $color-featured;
    
  }

  a:hover {
    text-decoration: none;
    background-color: $color-featured;
    color: $color-white;
  }
  
  
  
  pre, code {
    overflow-x:scroll;
    line-height:1.8;
    padding:0 5px;
    font-family:$code-font;
  }
  
  code {
    background-color:$code-background-color;
  }
  pre {
    margin: 8px 0;
    border-radius:4px;
    padding: 5px 10px;
    background-color:$color-dark;
  }
  
    dt {
      margin-top:15px;
      font-weight:700;
    }
    dd {
      padding:0 15px 0 30px;
      font-style:italic;
    }
}



.section-navigation{
  display:none;
}

hr {
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  border: solid 1px $color-dark;
}

.section-menu{
  margin-left:25px;
  li {
    list-style:disc;
    padding-bottom: 10px;
  }
  span {
    display:none;
  }
}

.appendixes {
  display:none;
}


// Legacy
.main-nav {
  display:none;
}

pre {
  color:#FFF;
}

